{
	"extends": ["next-app", "prettier"],
	"plugins": ["next", "prettier"],
	"rules": {
		"prettier/prettier": [
			"error",
			{
				"arrowParens": "avoid",
				"semi": true,
				"trailingComma": "none",
				"endOfLine": "lf",
				"printWidth": 120,
				"singleQuote": true,
				"jsxSingleQuote": false
			}
		]
	}
}
